pkgbase = linux-xanmod-anbox-tty
	pkgdesc = Linux Xanmod. Development branch with the Task Type CPU Scheduler by Hamad Al Marri
	pkgver = 6.9.0
	pkgrel = 1
	url = http://www.xanmod.org/
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.tar.sign
	source = patch-6.9.0-xanmod1.xz::https://sourceforge.net/projects/xanmod/files/releases/edge/6.9.0-xanmod1/patch-6.9.0-xanmod1.xz
	source = https://raw.githubusercontent.com/bigshans/cjktty-patches/master/v6.x/cjktty-6.9.patch
	source = choose-gcc-optimization.sh
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 24fa01fb989c7a3e28453f117799168713766e119c5381dac30115f18f268149
	sha256sums = SKIP
	sha256sums = 4ff14a5ba9d4a9fcb08c4677640282025cba03300073afe60a3729f74c2384e6
	sha256sums = 6714bf3968392e29f19e44514d490ad7ec718c3897003210fd1e499017dd429d
	sha256sums = 1ac18cad2578df4a70f9346f7c6fccbb62f042a0ee0594817fdef9f2704904ee

pkgname = linux-xanmod-anbox-tty
	pkgdesc = The Linux kernel and modules with Xanmod patches
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = NTFS3-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-xanmod-anbox-tty-headers
	pkgdesc = Headers and scripts for building modules for the Linux Xanmod. Development branch with the Task Type CPU Scheduler by Hamad Al Marri kernel
	depends = pahole
